@using System.Linq
@using Bloodlines.Game.System.Dialog
@using Sandbox;
@using Sandbox.UI;

@namespace Bloodlines.UI
@attribute [StyleSheet]

@inherits Panel

@if (Game.LocalPawn is not VampirePlayer player)
{
    return;
}

<root class="@(IsOpen ? "open" : "")">
    @if (DebugMode)
    {
        <DropDown class="glass name with-grow" Value:bind="@CurrentDialogLine" BuildOptions=@GetResponseOptions></DropDown>
    }
    else
    {
        <label class="name">@DialogManager.Instance?.GetActiveDialog()?.Text.Values.FirstOrDefault()</label>
    }
    <div class="items">
        @{
            var responses = DialogManager.Instance?.GetActiveDialog()?.Responses;
            if (responses == null)
                return;

            if (DebugMode && responses.Count == 0)
            {
                <label class="name">No responses</label>
                return;
            }

            if (responses.FirstOrDefault()?.Text.Values.FirstOrDefault() == "(Auto-Link)")
            {
                <label class="name">End</label>
                <label class="name">@responses.FirstOrDefault()?.Link</label>
            }

            @for (var i = 0; i < responses.Count; i++)
            {
                var response = responses[i];
                var counter = i + 1;
                <DialogEntrySlot
                    Entry=@response
                    Counter=@(counter)
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                @onmouseover=@(() => _hoveredWeapon = response)
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                @onmouseout=@(() => _hoveredWeapon = null)
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                @onclick=@(() => OnInventorySlotClicked(response, counter))/>


            }
        }

    </div>
</root>